

<section class="container">
  <div id="maiorEstoque" class="card">
    <h2>Produtos Com Maior Estoque</h2>
    <hr />
    <canvas baseChart
      [data]="polarAreaChartProdutosComMaiorEstoque"
      [type]="'polarArea'">
    </canvas>
  </div>

  <div id="semEstoque" class="card">
    <h2>Produtos Com Quantidade Zerada ou Negativa</h2>
    <hr />
    <canvas baseChart
      [data]="polarAreaChartProdutosSemEstoque"
      [type]="'bar'"
      [options]="barChartOptions">
    </canvas>
  </div>

  <div id="totalProdutos" class="card">
    <h2>Quantidade de Produtos</h2>
    <hr />
    <span>{{qtdProdutos}}</span>
  </div>

  <div id="totalClientes" class="card">
    <h2>Quantidade de Clientes</h2>
    <hr />
    <span>{{qtdClientes}}</span>
  </div>
</section>
