@use '../../base/colors';
@use '../../base/properties';

nav {
  box-shadow: 0px 2px 5px colors.$cinza-claro;
}

ul {
  display: flex;
  align-items: center;
  background: colors.$azul-claro;
  width: 100%;

  li {
    padding: 1.7rem 1rem;
    transition: background-color properties.$tempo-transacao ease-out;

    &:hover, &.active {
      cursor: pointer;
      background: colors.$cinza;
    }

    span {
      color: colors.$branco;
      font-weight: 500;
    }
  }
}
